.copy {
  background: $brand-success;
  padding: 20px 0 10px 0;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  color: #fff;
  
  border-top: 4px solid darken($brand-success, 9.5%);
   a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

   h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }

   i {
    font-size: 24px;
  }

   .top {
  	float: right;
    font-size: 18px;
    background:  darken($brand-success, 9.5%);
    padding: 10px;
    margin-top: 0px;
  }

   .copyleft {
    margin-bottom: 10px;
  }

}