/*  Forms */



select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: block;
  padding: .2em .5em;
  border: #D6D6D6 solid 2px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  
  background: #ffffff;
  
  width:100% !important;
  margin-top:5px;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #000;
  outline:none; 
}


::-webkit-input-placeholder .placeholder  {
   color: #000000;
   font-size: 1em !important;   
}

:-moz-placeholder .placeholder { /* Firefox 18- */
   color: #000000;
   font-size: 1em !important;   
}

::-moz-placeholder .placeholder  {  /* Firefox 19+ */
   color: #000000;
   font-size: 1em !important;   
}

:-ms-input-placeholder .placeholder {  
   color: #000000;
   font-size: 1em !important;   
}


