body {
	/* font-family: 'Open Sans', sans-serif; */
	padding-top: 0px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color: $brand-success;
}
h1, h2, h3, h4, h5 {
	/* font-family: 'Playfair Display', serif; */
	font-family: 'Old Standard TT', serif;
}
/* @font-face {
   font-family: BaskerFOnts;
   src: url('../fonts/LibreBaskerville-Regular.ttf');
} */

.logo {
	position: absolute;
	left: 20px;
	top: 10px;
	@include max-width(975px) {
		left: 5px;
	}
	@include max-width(450px) {
		position: relative;
		float: none;
		display: block;
		margin: auto;
	}
	img {
		padding: 10px;
		@include max-width(975px) {
			max-width: 230px;
			margin-top: 10px;
		}
		@include max-width(834px) {
			max-width: 210px;
		}
		@include max-width(785px) {
			max-width: 190px;
		}
		@include max-width(767px) {
			max-width: 250px;
		}
		@include max-width(450px) {
			float: none;
			display: block;
			margin: auto;
		}
	}
}

.headbar {
	border-bottom: 2px solid $brand-info;
	background:$brand-success ; //#494F50

	i {
		line-height: 90px;
		margin: 35px 0px 0 5px;
		color: $brand-info;
		@include max-width(1070px) {
			margin: 35px 0px 0 2px;
		}
		@include max-width(975px) {
			font-size: 14px;
		}
		@include max-width(880px) {
		font-size: 12px;
    	}
    	@include max-width(800px) {
			margin: 35px 0px 0px 0px;
		}
		@include max-width(767px) {
			margin: 35px 0px 0 10px;
		}
		@include max-width(450px) {
			margin: 0px 0px 0 10px;
			line-height: 30px;
		}
	}
	.social {
		margin: 0 50px 0 0;
		float: right;
		@include max-width(1070px) {
			margin: 0 20px 0 0;
		}
		@include max-width(975px) {
			margin: 0 10px 0 0;
		}
		@include max-width(800px) {
			margin: 0 5px 0 0;
		}
		@include max-width(767px) {
			margin: 0 20px 0 0;
		}
		@include max-width(500px) {
			margin: 0 10px 0 0;
		}
	}

}
.call {
	position: absolute;
	right: 0;
	display:inline-block;
	margin-right: 50px;
	border-bottom: 1px solid $brand-info; //#ededed
	width: 60%;
	text-align: right;
	color: #fff;
	padding: 10px 0;
	font-size: 16px;
	font-family: 'Old Standard TT', serif;
	@include max-width(767px) {
		width: 40%;
		margin-right: 20px;
	}
	@include max-width(500px) {
		width: 30%;
		margin-right: 10px;
	}
	@include max-width(450px) {
			position: relative;
			float: none;
			display: block;
			margin: 10px auto;
			width: 90%;
			text-align: center;
			background-color:#ffffff;
			color:$brand-info;
		}
	span {
		font-family: 'open-sans', sans-serif;
		font-weight: 300;
	}

}
nav {
	float: right;
	@include max-width(767px) {
		float: none;
	}
	.nav {
		@include max-width(767px) {
		margin-top: 100px;
		padding: 20px;
		}	
		@include max-width(450px) {
			margin-top: 20px;
		}
	}
}
.nav > li > a {
	color: #fff; //$brand-success
    padding: 10px 13px 0 13px;
    line-height: 20px;
    margin-top: 60px;
    font-size: 15px;
    /* font-family: 'Old Standard TT', serif; */
    @include max-width(1220px) {
		padding: 10px 9px 0 9px;
		font-size: 14px;
    }
    @include max-width(1070px) {
		padding: 10px 6px 0 6px;
    }
    @include max-width(975px) {
		padding: 10px 5px 0 5px;
		font-size: 13px;
    }
    @include max-width(880px) {
		font-size: 12px;
    }
    @include max-width(810px) {
		padding: 10px 4px 0 4px;
    }
    @include max-width(767px) {
    	line-height: 25px;
    	margin-top: 0px;
    	font-size: 16px;
    }
    /* @include max-width(450px) {
    	text-align: center;
    } */
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: $brand-info;
}
.current {
	color: $brand-info;
	font-weight: bold;
}


.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 0; 
    margin-top: 0px; 
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.blogtitle {
	font-style: italic;
	font-family: 'Old Standard TT', serif;
	font-weight: 800;
	font-size: 20px !important;
	@include max-width(1070px) {
		font-size: 16px !important;
	}
}
