.homecontent {
  max-height: 900px;
  overflow: hidden;
  @include max-width(991px) {
    max-height: inherit;
  }
}

.homecontent,
.insidecontent {
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-left: 0px;
    padding-right: 15px;
    @include max-width(991px) {
      padding-right: 0px;
    }
  }
  .content {
    border: 1px solid #ededed;
    margin: 20px;
    padding: 30px 30px 30px 60px;
    background: #fff;
    @include max-width(991px) {
      margin: 0 20px;
    }
    @include max-width(1110px) {
      padding: 20px 20px 20px 40px;
    }
    h1 {
      font-size: 36px;
      padding: 0px 0 10px 0;
      margin: 0px;
      text-transform: uppercase;
      @include max-width(1110px) {
        font-size: 30px;
      }
    }
    h2 {
      font-size: 24px;
      padding: 0px 0 10px 0;
      margin: 0px;
      @include max-width(1110px) {
        font-size: 20px;
      }
    }
    .largertext {
      font-size: 20px;
      font-style: italic;
      padding-bottom: 10px;
    }
    hr {}
    .mono {
      font-family: 'Droid Sans Mono', monospace;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.award-image{
  width:100%;
  height:auto;
  display:inline-block;
  max-width:300px;
}

.fadeline {
  background: #a7b5b7;
  background: -moz-linear-gradient(left, #a7b5b7 0%, #566162 100%);
  background: -webkit-linear-gradient(left, #a7b5b7 0%, #566162 100%);
  background: linear-gradient(to right, #a7b5b7 0%, #566162 100%);
  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7b5b7', endColorstr='#566162', GradientType=1);
  padding: 5px;
}

//Quiz ----------------
.quizinner {
  .stylequiz {
    color: #fff;
    padding: 20px;
    background: url(../images/stylequizbkgrd.jpg) center top no-repeat;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    min-height: 350px;
    h1 {
      color: #fff;
      padding-top: 80px;
      font-size: 46px;
    }
  }
  .stylequiz-professional {
    color: #fff;
    padding: 20px;
    background: url(../images/professional-bg.jpg) center top no-repeat;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    min-height: 350px;
    h1 {
      color: #fff;
      padding-top: 80px;
      font-size: 46px;
    }
  }
  .stylequiz-recognition {
    color: #fff;
    padding: 20px;
    background: url(../images/recognition-bg.jpg) center top no-repeat;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    min-height: 350px;
    h1 {
      color: #fff;
      padding-top: 80px;
      font-size: 46px;
    }
  }
  .stylequiz-proportions {
    color: #fff;
    padding: 20px;
    background: url(../images/proportions-bg.jpg) center top no-repeat;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    min-height: 350px;
    h1 {
      color: #fff;
      padding-top: 80px;
      font-size: 46px;
    }
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .styles {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #a7b5b7;
    background: -moz-linear-gradient(left, #a7b5b7 0%, #566162 100%);
    background: -webkit-linear-gradient(left, #a7b5b7 0%, #566162 100%);
    background: linear-gradient(to right, #a7b5b7 0%, #566162 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7b5b7', endColorstr='#566162', GradientType=1);
    color: #fff;
    .col-md-2 {}
  }
  .styleinner {
    h1 {
      padding: 20px 20px 30px 20px;
      color: $brand-primary;
      font-size: 46px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .content {
    margin-top: -20px;
    text-align: center;
    h2 {
      font-size: 30px;
    }
    .element {
      border: 3px double $brand-info;
      margin: 10px;
      width: 100%;
      &:hover {
        border: 4px double $brand-primary;
      }
    }
    .btn-primary {
      margin-top: 20px;
      color: #fff;
      border-radius: 0px;
      font-size: 24px;
      font-family: 'Old Standard TT', serif;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.portfolio {
  color: #fff;
  padding: 20px;
  background: url('../images/portfoliobkgrd.jpg') center top no-repeat;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  min-height: 350px;
  h1 {
    color: #fff;
    padding-top: 80px;
    font-size: 46px;
  }
}

//Quiz End ----------------

/* Proportion Guide Page */

.proportions-page {
  //   img {
  //   width: 100%;
  // }
  .kitchen-prop {
    margin-top: 40px;
  }
  .dining-prop {
    margin-top: 95px;
  }
  .category-row {
    margin-top: 25px;
  }
  .var {
    font-weight: bold;
    font-size: 20px;
  }
  .right-col {
    margin-bottom: 25px;
  }
  .foyer-prop {
    margin-top: 40%;
  }
  .prop-pic {
    img {
      margin-top: 100px;
    }
  }
}
