.gallery {
	img {
		height:300px;
		width:auto;
		margin:0 auto;
		border: 1px solid #ccc;
		@include border-radius(4px);
		@include transition(all, 300ms);

		&:hover {
			border-color: $brand-success;
		}
	}
	.gallery-item {
		margin-bottom:10px;		
		
		.buy{
			display:inline-block;
			// width:100%;
			padding:10px 20px;
			margin:5px 0px 10px 0px;
			background-color:$brand-primary;
			color:#ffffff;
			border-radius:0px;
			border:0px;
			text-decoration:none !important;
			transition:all 0.3s ease-in-out;

			&:hover,&:active,&:focus{
				background-color:darken($brand-primary,15%);
			}
		}
	}
}
.mfp-bg{
	background:none !important;
	background-color:#343d45 !important;
}
.mfp-bottom-bar {
	padding: 15px;
	background: rgba(#000, 0.90);
}
.mfp-img{
	max-width:500px !important;
}
.mfp-counter {
	display: none;
}
.mfp-title {
	text-align: center;
	color: white;
	padding: 0;
	font-size: 15px;
}