
.flexslider {
  margin-top: 0px;
  
  img {
    
    @include max-width(1500px) {
      // min-height: 600px;
      // min-width: 1520px;
    }
  }
}

.flex-caption {
  position: absolute;
  left: 2%;
  bottom: 10%;
  padding: 30px;
  font-family: 'Playfair Display SC', serif;
  color: #fff;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;  */
  border: #D3CBC4 0px solid;
  border-radius: 0px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); */
  text-align: left;
  transition: all 0.75s ease-in 0s;

    @include max-width(775px) {
      width: 100%;
      left: 0;
      padding: 30px 50px;
      text-align:center;
    }
    @include max-width(520px) {
      top: 0;
    }
   
      @include max-width(480px) {
          display: none;
     }

    p {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 2px;

      @include max-width(575px){
        font-size:25px;
      }
    }

    h3 {
    	font-size: 30px;
      line-height: 50px;
    	font-weight: 200;
      font-style: italic;
    	color: #fff;
    	margin-top: 0px;
           
      @include max-width(981px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    a {
      color: #fff;
      font-size: 14px;
      font-family: 'Droid Sans Mono', monospace;
      text-transform: uppercase;
       letter-spacing: 2px;
      i {
        color: $brand-primary;
      }
      &:hover {
        text-decoration: none;
      }
    }
}


