.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.row.no-gutter>[class*='col-']:not(:first-child),
.row.no-gutter>[class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.row-centered {
    text-align:center;
}
.row-centered>[class*='col-'] {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}